In [48]:
from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .appName("Python Spark SQL basic example") \
    .getOrCreate()

# Import data
#data = spark.read.csv("books.csv", header=True, inferSchema=True)
#print(data.show())
#print(data.schema)

#books = data.rdd
numbers = spark.sparkContext.parallelize([1, 2, 3, 4, 5])
s = ["a", "b c", "d e f"]
strings = spark.sparkContext.parallelize(s)

1

# Actions

- Actions are eager - performs immediately and return results to driver program

**How to tell whether a operation is an action**
- Result of an action is not an RDD

**reduce()** 
- aggregate elements in the dataset using a function, 
- the function should be associative and commutative so it can be computed in parallel (**parallelizable**)
- The function accepts two input variable (2 consecutive variables in the rdd) and output a single variable

Example:

In [33]:
from operator import add
numbers.reduce(add)

15

**fold()**
- Aggregate the elements of each partition, and then the results for all the partitions, using a given associative function and a neutral “zero value.”

In [36]:
numbers.fold(0, add)

28

**aggregate()**
- Aggregate the elements of each partition, and then the results for all the partitions, using a given combine functions and a neutral “zero value.”
- This function requires two operations: seqOp and combOp
- Let's say the RDD of type T.  seqOp can produce a result of a different type U, hence the two input for seqOp are T and U. (T, U) -> U
- Then a combine operations is required to combine the two Us into a single result.  (U, U) -> V
- Good explanation here: https://stackoverflow.com/questions/28240706/explain-the-aggregate-functionality-in-spark
- groupbys are probably based on this function

In [52]:
acc = (0)
numbers.aggregate(0, add, add)

# Example that return different type
acc = (0) =
seqOp = (lambda acc, s: acc + len(s.split(' ')))
combOp = (lambda acc1, acc2: acc1 + acc2) # combine accumulator values from all partitions
strings.aggregate(acc, seqOp, combOp)

6

Example of other useful actions:

**Number of elements in dataset:**

In [13]:
books.count()

2

**Return first n elements**

In [16]:
print(books.first().title)
print("First 2 books:")
print(str(books.take(2)))

Where's Spot
First 2 books:
[Row(title="Where's Spot", author='Eric Hill', type='Children', price=10), Row(title='The Cat In The Hat', author='Dr. Seuss', type='Children', price=15)]

**Saving objects**
e.g. saveAsTextFile
(saveAsSequenceFile and saveAsObjectFile are only available in Java and Scala)

In [ ]:
## Save as text file
rdd.saveAsTextFile("./_results.txt")